[submodule "Reinforcement-Learning-Algorithms-with-Python"]
	path = Reinforcement-Learning-Algorithms-with-Python
	url = https://github.com/PacktPublishing/Reinforcement-Learning-Algorithms-with-Python.git
